#chat {
	height: 60vh;
	width: 460px;
	max-width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 2em;
	margin: auto auto 4em auto;
	background-color: #fafafa;
	border-radius: 1em;
}

#chat > div {
	overflow-anchor: none;
}

#chat #scroll-anchor {
	overflow-anchor: auto;
	height: 1px;
}
