#chat {
	height: 60vh;
	min-height: 360px;
	width: 460px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 1.5em;
	margin: auto;
	border: 1px solid rgba(var(--color-title), 0.1);
}

#chat > div {
	overflow-anchor: none;
}

#chat #scroll-anchor {
	overflow-anchor: auto;
	height: 1px;
}

@media screen and (max-width: 500px) {
	#chat {
		padding: 1em 0.8em;
		width: 100%;
	}
}
