.bubble-line {
	width: 100%;
	transition: opacity 0.05s;
}

main.loading .bubble-line {
	opacity: 0;
}

.bubble-line.self {
	text-align: right;
}

.bubble-line.self .bubble {
	background-color: lightskyblue;
	text-align: right;
}

.bubble {
	display: inline-block;
	margin: 0.5em 1em;
	padding: 1em 2em;
	color: white;
	width: max-content;
	max-width: calc(100% - 2em);
	border-radius: 6px;
	background-color: lightcoral;
}

.bubble p {
	margin: 0;
	text-align: left;
}

.bubble .b-author {
	opacity: 0.7;
}

.bubble .b-message {
	font-size: 1.5em;
}

.bubble input {
	color: white;
	font: inherit;
	font-size: 1.5em;
	border: none;
	outline: none;
	padding: 0;
	background-color: transparent;
}

.bubble input::placeholder {
	opacity: 0.5;
	color: white;
}
