:root {
	font-family: monospace;
	line-height: 1.5;
	--color-title: 108, 88, 76;
	--color-background: #f0ead2;
	--color-chat: #f5f1e1;
	--color-chat-text: #fff;
	--color-bubble: #a98467;
	--color-bubble-self: #adc178;
	--color-login-background: #fff;
	--color-login-border: #dadce0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-title: 202, 210, 197;
		--color-background: #313338;
		--color-chat: #3c4b53;
		--color-chat-text: #eee;
		--color-bubble: #84a98c;
		--color-bubble-self: #52796f;
		--color-login-background: #ddd;
		--color-login-border: #aaa;
	}
}

* {
	box-sizing: border-box;
}

*:focus-visible {
	outline: 2px solid rgba(var(--color-title), 0.5);
}

body,
p {
	margin: 0;
}

body {
	font-size: 15px;
	color: rgb(var(--color-title));
	background-color: var(--color-background);
}

main {
	display: grid;
	max-width: 700px;
	min-width: 320px;
	max-height: 90vh;
	margin: auto;
	padding: 2em;
	row-gap: 3em;
}

main .title {
	padding: 2em 0 0 0;
	color: rgb(var(--color-title));
	width: max-content;
	margin: auto;
}

main .title h1 {
	line-height: 1em;
	margin: 0;
}

main .title p {
	margin: 0;
}

main #bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 0 1em;
	gap: 2em 1em;
	width: 100%;
	max-width: 460px;
}

main #out-links {
	text-align: right;
	width: 6em;
}

main #out-links a {
	opacity: 0.8;
	color: inherit;
	font-size: 0.9em;
	border-radius: 4px;
	text-decoration: none;
}

main #out-links a:hover {
	text-decoration: underline;
	opacity: 1;
}

main #out-links a:focus-visible {
}

@media screen and (max-height: 900px) {
	main .title {
		padding: 0;
	}
}

@media screen and (max-width: 500px) {
	body {
		font-size: 13px;
	}

	main .title {
		font-size: 1em;
		padding: 1em;
	}

	main {
		padding: 1em 2em;
		row-gap: 2em;
	}

	main.user-out #bottom {
		flex-direction: column;
	}

	main.user-out #out-links {
		text-align: center;
	}
}
