:root {
	font-family: monospace;
	line-height: 1.5;
	--color-text: #484c53;
	--color-title: 72, 76, 83;
	--color-background: #e3e3d9;
	--color-chat: #aaa1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-title: 202, 210, 197;
		--color-background: #313338;
		--color-chat: #fff1;
		--color-text: #adb3aa;
	}
}

* {
	box-sizing: border-box;
}

*:focus-visible {
	outline: 2px solid rgba(var(--color-title), 0.5);
}

body,
p {
	margin: 0;
}

body {
	font-size: 16px;
	color: var(--color-text);
	background-color: var(--color-background);
}

main {
	display: grid;
	max-width: 700px;
	max-height: 90vh;
	margin: auto;
	padding: 2em;
	row-gap: 3em;
}

main .title {
	padding: 2em 0;
	color: rgb(var(--color-title));
	font-weight: bolder;
	text-align: center;
	background: transparent;
	background-image: radial-gradient(rgba(var(--color-title), 0.1) 1px, transparent 0);
	background-size: 6px 6px;
}

main .title h1 {
	display: block;
	text-align: center;
	margin: 0;
	line-height: 1.2;
}

main .title p {
	margin: 0;
}

main #bottom {
	display: flex;
	margin: auto;
	gap: 2em;
	width: 100%;
	max-width: 460px;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
}

main #out-links {
	text-align: right;
}

main #out-links a {
	color: inherit;
	font-size: 0.9em;
	text-decoration: none;
	opacity: 0.8;
}

main #out-links a:hover,
main #out-links a:focus-visible {
	text-decoration: underline;
	opacity: 1;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 13px;
	}

	main .title {
		font-size: 1em;
		padding: 1.5em;
	}

	main {
		padding: 1em 2em;
		row-gap: 2em;
	}

	main #bottom {
		padding: 0 1em;
	}

	main #out-links {
		flex-direction: row;
		column-gap: 1em;
	}
}
